<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960488407399-qipdbu181jpvnl03p8rhgdppvu8t1v3r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960488407399-qipdbu181jpvnl03p8rhgdppvu8t1v3r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>960488407399-5amcsbv4sm8aon3rehtd5lkh07vukvko.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBhCqe8Y7CF73f7FztW-GGBBZ3EBuyIv7k</string>
	<key>GCM_SENDER_ID</key>
	<string>960488407399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pawsome</string>
	<key>PROJECT_ID</key>
	<string>pawsome-59b88</string>
	<key>STORAGE_BUCKET</key>
	<string>pawsome-59b88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960488407399:ios:806f0907bee6911a77afc2</string>
</dict>
</plist>